
/* body {
   background-color: hsl(0, 0, 0); 
   font-weight: 400;
   font-family: "Noto Serif", serif;
} */

/* nav {
   display: flex;
   margin: auto 3rem;
} */



/* main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto 3rem;

} */
/* .summary {
   display: flex;
   justify-content: space-evenly;
   line-height: 10px;
   gap: 15px;
} */
/* .summary div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 150px;
   border-radius: 5px;
}   */
/* .summary div .fa-solid {
   font-size: 40px;
} */
/* .summary div span {
   font-size: 30px;
} */
/* .members-info {
   color: #fff;
   margin-right: 10px;
   background-color: #0000ff;
} */
/* .payment-info {
   color: #fff;
   margin: 0 10px;
   text-align: center;
   background-color: #000;
} */
/* .payment-amount-info {
   color: #fff;
   margin: 0 10px;
   background-color: #008000;
} */



body {
   display: flex;
   margin: 0;
   background-color: hsl(30, 38%, 95%);
   font-family: "Faustina", serif;
}


header {
   color: #fff;
   width: 250px;
   height: 100vh;
   background-color: #6e1c1c;
   border-radius: 0 20px 20px 0;
}
.brand {
   display: flex;
   align-items: center;
   margin: 5px;
   background-color: #ffffff;
   border-radius: 5px;
   border-top-right-radius: 20px;
   gap: 5px;
}
.brand img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}
.brand h1 {
   color: #6e1c1c;
   font-weight: bolder;
   font-size: 16px;
}
/* h1 {
   margin: 1rem 2rem 0; 
} */

nav {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 75%;
   margin: 2em 0;
   vertical-align: baseline;
}

.hamburger {
   position: relative;
   top: 0;
   width: 35px;
   height: 3px;
   background-color: #fff;
   border-radius: 2px;
   cursor: pointer;
   z-index: 2;
   transition: 0.4s;
}
.hamburger:before,
.hamburger:after {
   content: "";
   position: absolute;
   height: 3px;
   right: 0;
   background-color: #fff;
   border-radius: 2px;
   transition: 0.4s;
}
.hamburger:before {
   top: -10px;
   width: 35px;
}
.hamburger:after {
   top: 10px;
   width: 35px;
}
.toggle-menu {
   position: absolute;
   width: 35px;
   height: 100%;
   cursor: pointer;
   z-index: 3; 
   opacity: 0;  
}
.hamburger,
.toggle-menu {
   display: none;    
}
nav input:checked ~ .hamburger {
   background-color: transparent;
}
nav input:checked ~ .hamburger:before {
   top: 0;
   transform: rotate(-45deg);
   width: 35px;
}
nav input:checked ~ .hamburger:after {
   top: 0;
   transform: rotate(45deg);
   width: 35px;
}
nav input:checked ~ ul {
   right: 0;
   box-shadow: -20px 0 40px rgba(0, 0, 0, 0.454);
} 
ul {
   display: flex;
   flex-direction: column;
   list-style: none;
   gap: 2em;
}
ul a {
   display: block;
   color: #fff;
   padding: 10px;
   margin-left: 10px; 
   text-decoration: none;
   text-transform: capitalize;
   text-align: justify;
   border-radius: 5px;
   font-weight: 600;
   cursor: pointer;
}
ul a:hover {
   color: #6e1c1c;
   background-color: hsl(30, 38%, 95%);
   background-color: #fff;
   transition: 0.4s;
}
ul a span {
   margin-right: 5px;
}



/* main  */
main {
   margin: 1rem auto;
}

.overview-heading {
   text-transform: capitalize;
   text-align: left;
   margin:0 0 20px 0;
   font-size: 25px;
}
                   /*account style beginning*/
.account-items-wrap { 
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 20px;
}
.item-wrap {
   width: 300px;
   height: 80px;
   line-height: 0.8;
   border-radius: 10px;
   background-color: #fff;
   font-weight: 600;
   font-family: "Inter", serif;
}
.item-wrap  p {
   margin: 1em 0 0 2em;
}
.item-wrap .item-head {
   font-weight: bold;
   font-size: 15px;
}
.item-wrap .amount {
   font-size: 25px;
}

/* ,
.item-wrap .item-head {

} */
.balance-wrap {
   color: #fff;
   text-align: justify;
   background-color: #008000;
   font-weight: bold;
}
.income-wrap {
   color: #008000;
   text-align: justify;
   /* background-color: #008000; */
   font-weight: bold;
}
.expenses-wrap {
   color: #ff0000;
   text-align: justify;
   /* background-color: ; */
   font-weight: bold;
}/*account style end*/


                  /* Pots Transaction, Budgets and Recurring Bill wrap  */
.other-sections-container {
   display: flex;
   margin: 0 auto;
   justify-content: center;
   align-items: center; 
}

/* Pots style*/
.member-and-trans-wrapper {
   display: flex;
   flex-direction: column;
   width: 55%;
   margin: 10px auto;
   gap: 10px; 
   line-height: 0;
}
small a {
   color: #fff;
}
.members-info {
   color: #fff;
   width: 300px;
   height: 120px;
   background-color: #6e1c1c;
   border-radius: 5px;
   overflow: hidden;
}
.members-items-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 125px;
}
.members-heading {
   display: flex;
   /* flex-direction: column; */
   justify-content: space-around;  
   align-items: center;
   /* align-items: center; */
   font-size: 0.8em;
   margin: 5px 10px 0;
}
.members-heading .fa-solid {
   font-size: 30px;
}
.members-body {
   display: flex;
   justify-content: space-around;  
   align-items: center;
}
.members-body span {
   color: #000;
   /* width: 30px;
   height: 30px; */
   padding: 15px 10px; 
   text-align: center;
   background-color: #fff;
   border-radius: 50%;
}

/* .total-save-wrap {
   display: flex;
   flex: 1;
   align-items: center;
   width: 50%;
   height: 55px;
   margin: 0 0 15px 10px;
   background-color: hsl(30, 38%, 95%);
   border-radius: 10px;
   gap: 20px;
}
.dollar-icon {
   color: #008000;
   margin-left: 20px;
   font-size: 24px;
}
.total-save-info {
  line-height: 0;
}
.total-saved {
   color: rgb(156, 154, 154);
   font-weight: 600;
   font-size: 12px;
}
.total-saved-amount {
   font-size: 24px;
}

.stgl-wrapper {
   display: flex;
   flex: 1;
   justify-content: center; 
   align-items: center; 
   width: 50%;  
   gap: 20px; 
}
.saving-info {
   height: 25px; 
   line-height: 0;
   margin-bottom: 10px;
   text-align: justify;
   text-indent: 10px;
   border-left: 2px solid #008000;
}
.ticket-info {
   height: 25px; 
   line-height: 0;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 10px;
   border-left: 2px solid #000;  
}
.gift-info {
   height: 25px;
   line-height: 0;
   margin-bottom: 10px;
   text-align: justify;
   text-indent: 10px;
   border-left: 2px solid #add8eb;  
}
.laptop-info {
   height: 25px;
   line-height: 0;
   margin-bottom: 10px;
   text-align: justify;
   text-indent: 10px;
   border-left: 2px solid hsl(30, 74%, 79%);  
}
.savings,
.current-ticket,
.gift,
.new-laptop {
   color: rgb(156, 154, 154);
   font-weight: 500;
   font-size: 10px;
}
.savings-amount, 
.ticket-amount,
.gift-amount,
.laptop-amount {
   font-size: 14px;
   font-weight: bold;
} */
/* Pots style end*/


.chart-info {
   background-color: #fff;
}





/* Transactions style*/
.trans-info {
   flex: 1 1 250px;
   margin: 5px 0 0 10px;
   background-color: #fff; 
   
   border: 2px solid #00000010;
   border-radius: 10px;
   line-height: 1;
}
.transactions-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto 1em;
}
.view-all {
   font-size: 14px;
}
.contact-wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0.5em;
   gap: 8px;
}
.contact-info {
   display: flex;
   width: 100%;
   justify-content: space-between; 
   align-items: center;
   border: 1px solid hsl(30, 74%, 98%);  
   border-radius: 10px;
}
.profile {
   display: flex;
   align-items: center;
   gap: 10px;
}
.profile-pix {
   display: flex;
   width: 30px;
   height: 30px;
   background-color: #000;
   border-radius: 50%;
}
.profile-name {
   font-weight: 100;
   font-size: 12px;
} 
.amount-and-date-wrap {
   display: flex;
   flex-direction: column;
}
.transaction-amount {
   color: #008000;
   font-weight: 600;
   font-size: 12px;
}
time {
   color: rgb(156, 154, 154);
   font-size: 10px;
}
/* Transactions style end*/


.budgets-and-recurringBill-wrapper {
   display: flex;
   flex-direction: column;
   width: 45%;
   height: 400px;
   gap: 10px;
}

/* Budgets style*/
.budgets-info {
   position: relative;
   height: 240px;
   background-color: #fff;
   border-radius: 15px;
   line-height: 0;
   overflow: hidden;
}
.budgets-heading{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 10px;
line-height: 0;
}
.budgets-body {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.budgets-body {
   position: absolute;
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   height: 80%;
   align-items: center;
}
.chart-wrap {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 170px;
   height: 170px;
   margin-bottom: 10px;
   justify-content: center;
   align-items: center;
   background: conic-gradient( #008000 0% 5.13%, #add8eb 5.13% 82.18%, hsl(30, 74%, 79%) 82.18% 92.44%, #000 92.44% 100%);
   border-radius: 50%;
   border-radius: 50%;
}
.chart-wrap::before {
content: '';
width: 120px;
height: 120px;
background: #fff;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.the-chart {
   position: absolute;
   top: -200px;
}

/* .total-budget {
   font-weight: 600;
   font-size: 23px;
} */
.budget-list-wrapper {
   font-weight: 500;
   font-size: 16px;
 
}
.entertain {
   height: 25px; 
   line-height: 0;
   margin-bottom: 15px;
   text-align: justify;
   text-indent: 10px;
   border-left: 2px solid #008000;
}
.bil {
   height: 25px; 
   line-height: 0;
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 10px;
    border-left: 2px solid #add8eb;  
}
.pers-care {
   height: 25px;
   line-height: 0;
   margin-bottom: 15px;
   text-align: justify;
   text-indent: 10px;
   border-left: 2px solid #000;  
}
.diving {
   height: 25px;
   line-height: 0;
   margin-bottom: 10px;
   text-align: justify;
   text-indent: 10px;
   border-left: 2px solid hsl(30, 74%, 79%);  
}
.entertainment,
.bills,
.personal-care,
.diving-out {
   font-weight: lighter;
   font-size: 12px;
}
/* Budgets style end*/

/* Recurring style*/
.recurring-info {
   height: 190px;
   background-color: #fff;
   border-radius: 10px;
}
.recurring-heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 10px;
   line-height: 0;
}
table {
   border: 0;
   border-collapse: collapse;
   margin: 0 10px;
}
tr {
   height: 40px;
} 
 .each-bill {
   color: rgb(104, 103, 103);
   margin: 10px;
   background-color:hsl(30, 74%, 96%); 
   border-radius: 15px; 
   border-left: 2px solid;
   border-bottom: 5px solid #fff;
   font-weight: 300;
   font-size: 12px;
 }
 td {
   width: 100%;
   border-collapse: collapse;
 }
 .green-border-left {
   border-left-color: #008000;
 } 
 .orange-border-left {
   border-left-color: orange;
 } 
 .lightblue-border-left {
   border-left-color: #add8eb;
 } 
 .bill-amount {
   color: #000;
   font-weight: bold;
 }



            /* Moblie View */
      @media screen and (max-width: 900px) {
         body {
            width: 100%;
         }

         header {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            border-radius: 0;
         }
         .brand {
            background-color: transparent;
         }
         .brand h1 {
            color: #fff;
         }
         .hamburger {
             display: block;
             position: fixed;
             top: 5%;
             right: 3%;
         }
         .toggle-menu {
             display: block;
             position: fixed;
             top: -45%;
             right: 3%;
         }
         ul {
            justify-content: start;
            flex-direction: column;
            align-items: center;
            position: fixed;
            right: -200%;
            width: 95%;
            height: 100vh;
            background-color: #6e1c1c;
            padding-top: 40%;
            z-index: 1;
            transition: 0.5s;
        }

         main > * {
            display: none;
         } 

         /* .account-container {
            display: flex;
            flex-direction: column;
         } */
         .other-sections-container {
            display: none;
         } 
      }
 
